{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 style="margin: 0; padding: 0;">Virtual Transportation Lab</h1>
    <div class="services-grid">

        <a href="https://volumetrics.onrender.com/input_page/volumetrics" class="service-card">
            <i class="fas fa-cube service-icon"></i>
            <div class="service-title">Volumetric Properties</div>
            <div class="service-description">
                Precise volumetric property assessment for optimal mixture design and quality control.
            </div>
        </a>
        <a href="https://its-sx5e.onrender.com/input_page/model3_model4" class="service-card">
            <i class="fas fa-compress-alt service-icon"></i>
            <div class="service-title">Moisture test</div>
            <div class="service-description">
                Comprehensive indirect tensile strength testing for asphalt mixtures evaluation.
            </div>
        </a>
        <a href="https://lab-tester.onrender.com/input_page1/model1" class="service-card">
            <i class="fas fa-vial service-icon"></i>
            <div class="service-title">Rutting Test</div>
            <div class="service-description">
                CT-Index measures the crack tolerance of asphalt mixtures, indicating resistance to cracking under loading conditions.
            </div>
        </a>

        <a href="https://lab-tester.onrender.com/input_page1/model2" class="service-card">
            <i class="fas fa-chart-line service-icon"></i>
            <div class="service-title">Cracking Test</div>
            <div class="service-description">
                Comprehensive analysis of material deformation under repeated loading conditions for pavement performance evaluation.
            </div>
        </a>
    </div>
</div>
{% endblock %}